@charset "utf-8";

/*----------------------------------------
    style 1
----------------------------------------*/

/*  小見出し
----------------------------------------*/
#main_visual {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 470px;
}
#main_visual .cloud {
  width: 4038px;
  height: 470px;
  background: url(../img/img-cloud.jpg) repeat-x 0 0;
}
